.mbutton {
  border: rgb(0, 0, 0) 0.5px dotted;
}
.mbutton:hover {
  background-color: rgb(201, 231, 243);
  border: rgb(0, 0, 0) 0.5px solid;
}
.mbutton:focus {
  outline: none;
  background: rgb(228, 233, 235);
}
