.nav {
  color: rgba(102, 102, 102, 0.575);
  font-weight: lighter;
}
.isActive {
  color: rgb(29, 90, 126);
  font-weight: 500;
}
.logoFontColor {
  color: rgb(66, 66, 66);
}
.logoImg {
  width: 45px;
  height: 45px;
}
// color: rgba(155, 155, 155, 0.63);
// color: rgb(12, 93, 139);
