.nav {
  color: rgba(102, 102, 102, 0.575);
  font-weight: lighter;
}
.active {
  color: rgb(29, 90, 126);
  font-weight: 500;
}
.logoFontColor {
  color: rgb(66, 66, 66);
}
.logoImg {
  width: 45px;
  height: 45px;
}
